<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name ="username" value ="Megha"></parameter>
  <parameter name ="password" value ="Megha"></parameter>
    <classes>
      <class name="practice.SamplePractice"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
